/* css/nature.css */
@import url('./base.css');

/* =========== DESERT =========== */

.desert-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
}

/* Desert Color Palette */
:root {
    --desert-sky-light:#fdd06e;
    --desert-sky-dark: #feab47;
    --desert-sun: #feeba3;
    --desert-cloud: #fecd63;
    --desert-layer-5: #fda83f;
    --desert-layer-4: #eb7e2c;
    --desert-layer-3: #cf6826;
    --desert-layer-2: #854a22;
    --desert-layer-1: #583620;
}


/* SKY */
.sky-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100cqw;
    height: 45cqh;
    background: linear-gradient(to top, var(--desert-sky-light), var(--desert-sky-dark));
}

/* Clouds */
.desert-cloud {
    position: relative;
    top: 15cqh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.cloud-bulb-large {
    height: 4cqh;
    width: 20cqw;
    border-radius: 50% 50% 0 50%;
    background-color: var(--desert-cloud);
}

.cloud-bulb-small {
    height: 2.5cqh;
    width: 7cqw;
    border-radius: 0 50% 50% 0;
    background-color: var(--desert-cloud);
    margin-left: -1cqw;
}

.desert-cloud-.eft {
    margin-left: 10cqw;
}

/* Sun */
.desert-sun {
    width: 20cqw;
    height: 20cqw;
    border-radius: 50%;
    background-color: var(--desert-sun);
    position: relative;
    margin-top: 7cqh;
    margin-left: 10cqw; 
}

/* LAYERS */

/* 
.peak-layer1 {
    height: 1cqh;
    border-radius: 30cqh 30cqh 0 0;
    background-color: var(--desert-layer-1);
    width: 35%;
    margin-top: -1cqh;
}

.valley-layer1 {
    height: 1cqh;
    width: 15%;
    border-radius: 0 0 10cqh 10cqh;
    background-color: var(--desert-layer-2);
}
/* 

/* LAYER 1 - Furthest Forward */ 
.layer-1-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-1);
    z-index: 5;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}



/* LAYER 2 */
.layer-2-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-2);
    z-index: 4;
    overflow: visible;
}

/* LAYER 3 */
.layer-3-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-3);
    z-index: 3;
    overflow: visible;
}

/* LAYER 4 */
.layer-4-wrapper {
    position: relative;
    width: 100cqw;
    height: 15cqh;
    background-color: var(--desert-layer-4);
    z-index: 2;
    overflow: visible;
}

/* LAYER 5 - Furthest Back */
.layer-5-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-5);
    z-index: 1;
    overflow: visible;
}

