/* css/nature.css */
@import url('./base.css');

/* =========== DESERT =========== */

.desert-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
}

/* Desert Color Palette */
:root {
    --desert-sky-light:#fdd06e;
    --desert-sky-dark: #feab47;
    --desert-sun: #feeba3;
    --desert-cloud: #fecd63;
    --desert-layer-5: #fda83f;
    --desert-layer-4: #eb7e2c;
    --desert-layer-3: #cf6826;
    --desert-layer-2: #854a22;
    --desert-layer-1: #583620;
}

/* SKY */
.sky-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100cqw;
    height: 40cqh;
    background: linear-gradient(to top, var(--desert-sky-light), var(--desert-sky-dark));
}

/* Clouds */
.desert-cloud {
    position: relative;
    width: 25cqw;
    height: 3cqh;
    background-color: var(--desert-cloud);
    border-radius: 50% 50% 20% 20%;;
    top: 15cqh;
}

/* Sun */
.desert-sun {
    width: 20cqw;
    height: 20cqw;
    border-radius: 50%;
    background-color: var(--desert-sun);
    position: relative;
    margin-top: 7cqh;
    margin-left: 10cqw; 
}

/* LAYERS */

/* Furthest Forward */
.layer-1-wrapper {
    position: relative;
    width: 100cqw;
    height: 15cqh;
    background-color: var(--desert-layer-1);
}

.layer-2-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-2);
}

.layer-3-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-3);
}

.layer-4-wrapper {
    position: relative;
    width: 100cqw;
    height: 15cqh;
    background-color: var(--desert-layer-4);
}

/* Furthest Back */
.layer-5-wrapper {
    position: relative;
    width: 100cqw;
    height: 10cqh;
    background-color: var(--desert-layer-5);
}