/* css/nature.css */
@import url('./base.css');

/* =========== DESERT =========== */

.desert-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
}

/* Desert Color Palette */
:root {
    --desert-sky-light:#fdd06e;
    --desert-sky-dark: #feab47;
    --desert-sun: #feeba3;
    --desert-cloud: #fecd63;
    --desert-layer-5: #fda83f;
    --desert-layer-4: #eb7e2c;
    --desert-layer-3: #cf6826;
    --desert-layer-2: #854a22;
    --desert-layer-1: #583620;
}


/* SKY */
.sky-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100cqw;
    height: 55cqh;
    background: linear-gradient(to top, var(--desert-sky-light), var(--desert-sky-dark));
}

/* Clouds */
.desert-cloud {
    position: relative;
    top: 15cqh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.cloud-bulb-large {
    height: 4cqh;
    width: 20cqw;
    border-radius: 50% 50% 0 50%;
    background-color: var(--desert-cloud);
}

.cloud-bulb-small {
    height: 2.5cqh;
    width: 7cqw;
    border-radius: 0 50% 50% 0;
    background-color: var(--desert-cloud);
    margin-left: -1cqw;
}

.desert-cloud-.eft {
    margin-left: 10cqw;
}

/* Sun */
.desert-sun {
    width: 20cqw;
    height: 20cqw;
    border-radius: 50%;
    background-color: var(--desert-sun);
    position: relative;
    margin-top: 7cqh;
    margin-left: 10cqw; 
}

/* LAYERS */

/* 
.peak-layer1 {
    height: 1cqh;
    border-radius: 30cqh 30cqh 0 0;
    background-color: var(--desert-layer-1);
    width: 35%;
    margin-top: -1cqh;
}

.valley-layer1 {
    height: 1cqh;
    width: 15%;
    border-radius: 0 0 10cqh 10cqh;
    background-color: var(--desert-layer-2);
}
/* 



/* BUSH */

/* Template */
.desert-bush{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.bush-spike {
    height: 0;
    width: 0;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform-origin: bottom center;
}

.bush-spike:nth-child(1) { transform: translateX(-50%) rotate(-75deg); }
.bush-spike:nth-child(2) { transform: translateX(-50%) rotate(-50deg); }
.bush-spike:nth-child(3) { transform: translateX(-50%) rotate(-25deg); }
.bush-spike:nth-child(4) { transform: translateX(-50%) rotate(0deg); }
.bush-spike:nth-child(5) { transform: translateX(-50%) rotate(25deg); }
.bush-spike:nth-child(6) { transform: translateX(-50%) rotate(50deg); }
.bush-spike:nth-child(7) { transform: translateX(-50%) rotate(75deg); }

/* Bush - Layer 1 */
.desert-bush.layer1 {
    margin-top: -10cqh;
    height: 10cqh;
    width: 14cqw;
    left: -11cqw;
}

.bush-spike.layer1 {
    border-bottom: 7cqw solid var(--desert-layer-1);
    border-left: 1cqh solid transparent;
    border-right: 1cqh solid transparent;
}

/* Bush - Layer 2 */
.desert-bush.layer2 {
    margin-top: -7.5cqh;
    height: 10cqh;
    width: 14cqw;
    transform: scale(0.5);
    left: 12cqw;
    bottom: 2cqh;
}

.bush-spike.layer2 {
    border-bottom: 7cqw solid var(--desert-layer-2);
    border-left: 1cqh solid transparent;
    border-right: 1cqh solid transparent;
}

/* CACTUS */

.desert-cactus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 30cqh;
    width: 30cqw;
    position: relative;
}

/* Middle */
.desert-cactus-middle {
    width: 3cqw;
    height: 30cqh;
    background-color: var(--desert-layer-1);
    border-radius: 3cqw 3cqw 0 0;
}

/* Left side */
.desert-cactus-left {
    margin-top: 3cqw;
    display: flex;
    flex-direction: column;
    margin-right: -1px;
}

.cactus-top-left {
    width: 2.5cqw;
    height: 4cqh;
    border-radius: 3cqw 3cqw 0 0;
    margin-bottom: -1px;
}

.cactus-bottom-left {
    width: 2cqw;
    height: 5cqw;
    border-radius: 0 0 0 10cqw;
    border-left-width: 2.5cqw;
    border-left-style: solid;
    border-bottom-width: 2.5cqw;
    border-bottom-style: solid;
}

/* Right side */
.desert-cactus-right {
    margin-top: 5cqw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: -1px;
}

.cactus-top-right {
    width: 2.5cqw;
    height: 7cqh;
    border-radius: 3cqw 3cqw 0 0;
    margin-bottom: -1px;
}

.cactus-bottom-right {
    width: 2cqw;
    height: 5cqw;
    border-radius: 0 0 10cqw 0;
    border-right-width: 2.5cqw;
    border-right-style: solid;
    border-bottom-width: 2.5cqw;
    border-bottom-style: solid;
}

/* Layer-specific styles */
/* Layer 1 */
.desert-cactus.layer1 {
    margin-top: -32cqh;
    margin-left: -25cqw;
}

.desert-cactus.layer1 .desert-cactus-middle,
.desert-cactus.layer1 .cactus-top-left,
.desert-cactus.layer1 .cactus-top-right {
    background-color: var(--desert-layer-1);
}

.desert-cactus.layer1 .cactus-bottom-left,
.desert-cactus.layer1 .cactus-bottom-right {
    border-color: var(--desert-layer-1);
}

/* Layer 2 */
.desert-cactus.layer2 {
    transform: scale(0.5);
    margin-top: -25cqh;
    margin-left: 12cqw;
}

.desert-cactus.layer2 .desert-cactus-middle,
.desert-cactus.layer2 .cactus-top-left,
.desert-cactus.layer2 .cactus-top-right {
    background-color: var(--desert-layer-2);
}

.desert-cactus.layer2 .cactus-bottom-left,
.desert-cactus.layer2 .cactus-bottom-right {
    border-color: var(--desert-layer-2);
}

/* ROCKS */
.rock-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rocks-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -10cqh;
    gap: 1cqw;
}

.rocks-base {
    height: 0;
    width: 0;
    border-bottom: 15cqw solid var(--desert-layer-4);
    border-left: 15cqw solid transparent;
    border-right: 15cqw solid transparent;
}

.rock-square {
    background-color: var(--desert-layer-4);
    width: 12cqw;
    height: 15cqh;
    border-radius: 2cqw 2cqw 0 0;
}

.rock-column {
    background-color: var(--desert-layer-4);
    height: 10cqh;
    width: 2cqw;
    border-radius: 3cqw 3cqw 0 0;
}

/* Left Rock Group */
.rock-group.left {
    bottom: 11cqh;
    left: -18cqw;
    transform: scale(1.1);
}

/* Right Rock Group */
.rock-group.right {
    transform: scale(0.8);
    bottom: 10cqh;
}


/* LAYER 1 - Furthest Forward */ 
.layer-1-wrapper {
    position: relative;
    width: 100cqw;
    height: 15cqh;
    background-color: var(--desert-layer-1);
    z-index: 5;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* LAYER 2 */
.layer-2-wrapper {
    position: relative;
    width: 100cqw;
    height: 5cqh;
    background-color: var(--desert-layer-2);
    z-index: 4;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* LAYER 3 */
.layer-3-wrapper {
    position: relative;
    width: 100cqw;
    height: 5cqh;
    background-color: var(--desert-layer-3);
    z-index: 3;
    overflow: visible;
}

/* LAYER 4 */
.layer-4-wrapper {
    position: relative;
    width: 100cqw;
    height: 12cqh;
    background-color: var(--desert-layer-4);
    z-index: 2;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

/* LAYER 5 - Furthest Back */
.layer-5-wrapper {
    position: relative;
    width: 100cqw;
    height: 8cqh;
    background-color: var(--desert-layer-5);
    z-index: 1;
    overflow: visible;
}

/* WAVY LINES - LAYERS */

/* SVG Wave Styles */
.wave-svg {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        overflow: visible;
        line-height: 0;
    }

.wave-svg svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 30px;
}

/* Different wave heights for variety */
.layer-1-wrapper .wave-svg svg { 
    height: 60px; 
    top: -40px;
    fill: var(--desert-layer-1);
}

.layer-2-wrapper .wave-svg svg { 
    height: 70px; 
    fill: var(--desert-layer-2);
    top: -50px;
}

.layer-3-wrapper .wave-svg svg { 
    height: 60px; 
    fill: var(--desert-layer-3);
    top: -50px;
}

.layer-4-wrapper .wave-svg svg { 
    height: 90px; 
    fill: var(--desert-layer-4);
    top: -65px;
}

.layer-5-wrapper .wave-svg svg { 
    height: 80px; 
    fill: var(--desert-layer-5);
    top: -50px;
}

/* =========== SUNSET ARCHES =========== */

.sunset-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}

/* Arch */ 
.arch-shadow-1 {
    height: 350px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background: linear-gradient(135deg, #e6b398, #d9a085);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arch-shadow-2 {
    height: 350px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #e6b398;
}

.arch-shadow-3 {
    height: 350px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background-color: #e6b398;
}

.arch-bottom-shadow-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arch-bottom-shadow-left {
    background-color: #e6d1b0;
    height: 15px;
    width: 1800px;
    position: absolute;
    top: 0;
    left: -100px;
}

.arch-bottom-shadow-right {
    width: 0;
    height: 0;
    border-top: 13px solid #d9a085;        
    border-left: 18px solid transparent;  
    border-right: 0;                   
    position: absolute;
    top: 0px;
    right: -100px;
}

/* Static background layers */ 
.arch-sky {
    background: 
        radial-gradient(ellipse at 70% 20%, rgba(255,255,255,0.2) 20%, transparent 50%),
        linear-gradient(180deg, #f6d9de 0%, #f2c2c9 100%);
    width: 185px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.arch-sky-sun {
    width: 80px;
    height: 80px;
    background: radial-gradient(circle at 30% 30%, #ff6b47, #e34021);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: -10px;
    z-index: 2;
    box-shadow: 
        0 0 20px rgba(227, 64, 33, 0.6),
        0 0 40px rgba(227, 64, 33, 0.3);
}   

.arch-water {
    width: 185px;
    height: 100px;
    background: linear-gradient(to bottom, #c8d8e5, #b8ccd8);
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 3;
}

.arch-water-reflection {
    background: linear-gradient(to bottom, #d4453a 0%, #c73b30 30%, transparent 100%);
    opacity: 0.25;
    width: 70px;
    height: 40px;
    border-radius: 35px 35px 0 0;
    position: absolute;
    top: 5px;
    right: -5px;
    z-index: 4;
    transform: scaleY(0.6);
}

/* Arch 1*/ 
.arch-inside-1 {
    height: 330px;
    width: 185px;
    background-color: white;
    border-radius: 150px 150px 0 0;
    position: relative;
    margin-top: -5px;
    margin-right: 20px;
    overflow: hidden;
}

.arch-mountains-container {
    position: relative;
    z-index: 2; /* Above sky and water */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 220px; /* Account for sky height */
    padding-bottom: 100px; /* Account for water height */
    box-sizing: border-box;
}

.arch-mountains-top-1 {
    background: linear-gradient(to bottom, #a085a2, #6b4569);
    width: 220px;
    height: 90px;
    transform: rotate(-3deg);
    position: absolute;
    bottom: 83px;
    clip-path: polygon(
        0% 75%, 
        15% 60%, 
        25% 45%, 
        35% 55%, 
        50% 35%, 
        65% 50%, 
        80% 40%, 
        90% 60%, 
        100% 80%
    );
    opacity: 0.85;
}

.arch-mountains-bottom-1 {
    background: linear-gradient(to bottom, #b377ae, #5d3a58);
    width: 220px;
    height: 70px;
    position: absolute;
    bottom: 75px;
    left: -25px;
    clip-path: polygon(
        0% 70%, 
        20% 50%, 
        35% 30%, 
        50% 55%, 
        65% 40%, 
        80% 25%, 
        95% 60%, 
        100% 75%
    );
    transform: rotate(-2deg);
    z-index: 2;
}

/* 
.arch-mountains-bottom-base-1 {
    width: 0;
    height: 0;
    border-bottom: 10px solid #8f5e8a;
    border-left: 185px solid transparent;
    border-right: 0;
    border-top: 0;
    position: absolute;
    bottom: 100px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
*/ 

/* Arch 2*/ 
.arch-inside-2 {
    height: 330px;
    width: 185px;
    background-color: white;
    border-radius: 150px 150px 0 0;
    position: relative;
    margin-top: -5px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arch-mountains-top-2 {
    background: linear-gradient(to bottom, #a085a2, #6b4569);
    width: 220px;
    height: 70px;
    transform: rotate(-3deg);
    position: absolute;
    bottom: 80px;
    clip-path: polygon(
        0% 70%, 
        20% 35%, 
        30% 10%, 
        45% 45%, 
        60% 25%, 
        75% 40%, 
        85% 10%, 
        95% 60%, 
        100% 75%
    );
    opacity: 0.85
}

.arch-mountains-bottom-2 {
    background: linear-gradient(to bottom, #b377ae, #5d3a58);
    width: 220px;
    height: 70px;
    position: absolute;
    bottom: 80px;
    left: -25px;
    transform: rotate(-2deg);
    clip-path: polygon(
        0% 75%, 
        15% 60%, 
        30% 50%, 
        45% 35%, 
        60% 50%, 
        75% 30%, 
        90% 65%, 
        100% 80%
    );
    z-index: 2;
}

/* 
.arch-mountains-bottom-middle-2 {
    width: 0;
    height: 0;
    border-bottom: 10px solid #8f5e8a;
    border-left: 185px solid transparent;
    border-right: 0;
    border-top: 0;
    position: absolute;
    bottom: 110px;
}

.arch-mountains-bottom-base-2 {
    width: 185px;
    height: 10px;
    background-color: #8f5e8a;
    position: absolute;
    bottom: 100px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
    */ 

/* Arch 3 */
.arch-inside-3 {
    height: 330px;
    width: 185px;
    background-color: white;
    border-radius: 150px 150px 0 0;
    position: relative;
    margin-top: -5px;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arch-mountains-top-3 {
    background: linear-gradient(to bottom, #a085a2, #6b4569);
    width: 200px;
    height: 80px;
    transform: rotate(-3deg);
    position: absolute;
    bottom: 85px;
    clip-path: polygon(
        0% 80%, 
        20% 45%, 
        30% 35%, 
        40% 50%, 
        55% 20%, 
        65% 45%, 
        80% 40%, 
        90% 65%, 
        100% 85%
    );
    opacity: 0.85;
}

.arch-mountains-bottom-3 {
    background: linear-gradient(to bottom, #b377ae, #5d3a58);
    width: 240px;
    height: 60px;
    position: absolute;
    bottom: 85px;
    left: -40px;
    transform: rotate(-2deg);
    clip-path: polygon(
        0% 80%, 
        18% 65%, 
        32% 45%, 
        48% 30%, 
        62% 55%, 
        78% 35%, 
        92% 70%, 
        100% 85%
    );
}

/* 
.arch-mountains-bottom-middle-3 {
    width: 0;
    height: 0;
    border-bottom: 10px solid #8f5e8a;
    border-left: 185px solid transparent;
    border-right: 0;
    border-top: 0;
    position: absolute;
    bottom: 120px;
}

.arch-mountains-bottom-base-3 {
    width: 185px;
    height: 20px;
    background: linear-gradient(to bottom, #8f5e8a, #7a4d75);
    position: absolute;
    bottom: 100px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
*/ 

/* =========== CACTUS =========== */

/* General */
.cactus-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    gap: 0;
}

.cactus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: -15.5px; 
}

/* Dots */
.cactus-dot {
    width: 4px;
    height: 4px;
    background-color: #3F5A46;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

/* Left arm dots - 2 in top, 4 in arm */
.cactus-left-top .cactus-dot:nth-child(1) { top: 10px; left: 30px; background-color: #1F3024;} 
.cactus-left-top .cactus-dot:nth-child(2) { top: 40px; left: 5px; background-color: #1F3024;} 

.cactus-left-arm .cactus-dot:nth-child(1) { top: 25px; left: 20px; background-color: #1F3024;} 
.cactus-left-arm .cactus-dot:nth-child(2) { top: 55px; left: 40px; background-color: #1F3024;} 
.cactus-left-arm .cactus-dot:nth-child(3) { top: 75px; left: 15px; background-color: #1F3024;}
.cactus-left-arm .cactus-dot:nth-child(4) { top: 100px; left: 40px; background-color: #1F3024;}

/* Right arm dots - 2 in top, 4 in arm */
.cactus-right-top .cactus-dot:nth-child(2) { top: 20px; left: 15px; }
.cactus-right-top .cactus-dot:nth-child(3) { top: 40px; left: 35px; }

.cactus-right-arm .cactus-dot:nth-child(3) { top: 60px; left: 5px; background-color: #1F3024;} /* shadow */ 
.cactus-right-arm .cactus-dot:nth-child(4) { top: 15px; left: 30px; background-color: #1F3024; } /* shadow */ 
.cactus-right-arm .cactus-dot:nth-child(5) { top: 45px; left: 43px; }
.cactus-right-arm .cactus-dot:nth-child(6) { top: 80px; left: 25px; }

/* Middle body dots - 5 dots in base (left side) */
.cactus-middle-body > .cactus-dot:nth-child(2) { top: 20px; left: 10px; background-color: #1F3024; } /* shadow */ 
.cactus-middle-body > .cactus-dot:nth-child(3) { top: 80px; left: 10px; background-color: #1F3024; } /* shadow */ 
.cactus-middle-body > .cactus-dot:nth-child(4) { top: 140px; left: 3px; background-color: #1F3024;} /* shadow */ 
.cactus-middle-body > .cactus-dot:nth-child(5) { top: 210px; left: 7px; background-color: #1F3024;} /* shadow */ 
.cactus-middle-body > .cactus-dot:nth-child(6) { top: 265px; left: 14px; background-color: #1F3024;} /* shadow */
.cactus-middle-body > .cactus-dot:nth-child(7) { top: 310px; left: 5px; background-color: #1F3024;} /* shadow */

/* Middle body highlight dots - 10 dots in highlight part */
.cactus-middle-body-highlight .cactus-dot:nth-child(1) { top: 30px; left: 30px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(2) { top: 60px; left: 15px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(3) { top: 85px; left: 35px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(4) { top: 110px; left: 12px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(5) { top: 145px; left: 30px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(6) { top: 175px; left: 5px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(7) { top: 205px; left: 30px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(8) { top: 240px; left: 15px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(9) { top: 290px; left: 30px; }
.cactus-middle-body-highlight .cactus-dot:nth-child(10) { top: 340px; left: 10px; }

/* Left Arm */

.cactus-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cactus-left-top {
    width: 45px;
    height: 45px;
    border-radius: 45px 45px 0 0;
    background-color: #4A7C59;
    margin-left: -24px;
    margin-bottom: -1px;
    position: relative;
}

.cactus-left-arm {
    width: 70px;
    height: 120px;
    border-radius: 0 0 0 100px;
    background-color: #4A7C59;
    margin-bottom: -100px;
    margin-right: -1px;
    position: relative;
}

.cactus-left-space {
    background-color: #74D4D0;
    width: 24px;
    height: 75px;
    border-radius: 0 0 0 100px;
    z-index: 5;
    margin-top: -25px;
    margin-right: -45px;
}

/* Middle Body */
.cactus-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.cactus-middle-body {
    width: 70px;
    height: 350px;
    background-color: #4A7C59;
    border-radius: 100px 100px 0 0;
    margin-bottom: -4px;
    position: relative;
    z-index: 4;
    overflow: hidden;
}

.cactus-middle-bottom {
    width: 70px;
    height: 4px;
    background-color: #4A7C59;;
    border-radius: 50%;
    position: relative;
    margin-top: 2px;
    z-index: 4;
    overflow: hidden;
}

/* Middle cactus- highlight */
.cactus-middle-body-highlight {
    width: 70px;
    height: 350px;
    background-color: #7BA085;
    border-radius: 100px 100px 0 0;
    margin-bottom: -4px;
    position: absolute;
    z-index: 4;
    left: 25px;
}

.cactus-middle-bottom-highlight {
    width: 70px;
    height: 10px;
    background-color: #7BA085;
    position: absolute;
    z-index: 4;
    top: -1px;
    left: 25px;
}

/* Right arm */
.cactus-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    z-index: 1;
}

.cactus-right-top {
    width: 45px;
    height: 45px;
    border-radius: 45px 45px 0 0;
    background-color: #4A7C59;
    margin-right: -24px;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.cactus-right-arm {
    width: 70px;
    height: 100px;
    border-radius: 0 0 100px 0;
    background-color: #7BA085;
    margin-bottom: -100px;
    margin-left: -1px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.cactus-right-space {
    background-color: #74D4D0;
    width: 24px;
    height: 70px;
    border-radius: 0 0 100px 0;
    z-index: 5;
    margin-top: -20px;
    margin-left: -45px;
}

/* Right arm - highlight */

.cactus-right-top-highlight {
    width: 45px;
    height: 45px;
    border-radius: 45px 45px 0 0;
    background-color: #7BA085;
    top: 0;
    left: 13px;
    z-index: 2;
    position: absolute;
}

.cactus-right-arm-shadow {
    background-color: #4A7C59;
    width: 24px;
    height: 75px;
    border-radius: 0 0 100px 0;
    z-index: 5;
    position: absolute;
    top: -15px;
    left: 14px;
}

.cactus-right-arm-shadow-side {
    background-color: #4A7C59;
    position: absolute;
    height: 60px;
    width: 15px;
    z-index: 5;
    top: 40px;
    left: 0;
}

/* Pot */

.cactus-pot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cactus-pot-edge {
    background-color: #d15207;
    border-radius: 50%;
    width: 120px;
    height: 18px;
    position: relative;
    margin-bottom: -9px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cactus-pot-inside {
    background-color:#722c08;
    width: 105px;
    height: 12px;
    border-radius: 50%;
    z-index: 4;
} 

.cactus-pot-edge-highlight {
    z-index: 3;
    width: 96px;
    height: 30px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    right: -2px;
    top: -1px;
    background-color: #e06908;
    margin-bottom: -7px;
    margin-right: -2px;
}

.cactus-pot-edge-highlight-corner {
    background-color: #d15207;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    top: 7px;
    left: 23px;
    position: absolute;
    z-index: 4;
}

.cactus-pot-top {
    --c: 85; /* control the curvature (a percentage value without unit bigger than 50%)*/
    width: 120px; /* increased from 250px for wider */
    aspect-ratio: 7/2; /* changed from 3/2 to 5/2 for shorter relative to width */
    background: #bf4908;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    margin-bottom: -8px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.cactus-pot-top-highlight {
    --c: 85; /* same curvature as parent */
    width: 90px; /* smaller width */
    height: 42px;
    background: #e06908; /* highlight color */
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    position: absolute;
    right: 0; /* align to right edge of parent */
    top: 0;
    z-index: 3; /* in front of parent */
}

.cactus-pot-bottom {
    --c: 130; /* same curvature value */
    width: 110px; /* narrower shape */
    aspect-ratio: 4/3; /* original height */
    background: #9b3608;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 1px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    position: relative;
    z-index: 0;
}

.cactus-pot-bottom-shadow {
    --c: 80; /* same curvature */
    width: 92px; /* same width */
    height: 15px; /* changed from 100px to 20px */
    /* Remove aspect-ratio since we're using explicit height */
    background: #9b3608;
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 0px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    transform: rotate(-1deg);
}

.cactus-pot-bottom-highlight {
    --c: 130;
    width: 80px;
    height: 100px;
    aspect-ratio: 6/3;
    background: #d25509;
    /* Use a sharper mask instead */
    mask: radial-gradient(calc(var(--c)*1%) 100% at 50% calc(-100%*cos(asin(50/var(--c)))),#0000 calc(100% - 0px),#000);
    clip-path: ellipse(calc(var(--c)*1%) 100% at top);
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 1;
}

/* Shadow */
.cactus-shadow {
    width: 180px;
    height: 25px;
    border-radius: 50%;
    background-color: #5AA8A6;
    margin-top: -21px;
    margin-left: -70px;
}

/* =========== PARTIAL SUN & CLOUD =========== */

.sun {
    position: absolute;
    top: -10px;
    left: -5px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(circle, #fff176 0%, #fbc02d 70%, #f57f17 100%);
    box-shadow: 0 0 30px rgba(255, 223, 0, 0.8);
    z-index: 0;
}

.sun::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    background: radial-gradient(circle, rgba(255, 223, 0, 0.3) 30%, transparent 70%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: rays-pulse 7s infinite ease-in-out;
}

@keyframes rays-pulse {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.7); }
    100% { transform: translate(-50%, -50%) scale(1); }
}

.partial-sun-cloud-container {
    display: flex;
    align-items: flex-end; /* bottom alignment of cloud parts */
    animation: cloud-drift 7s infinite ease-in-out;
}

@keyframes cloud-drift {
  0% { transform: translateX(0); }
  50% { transform: translateX(50px); }
  100% { transform: translateX(0); }
}

.partial-sun-cloud-1 {
    border-radius: 50% 50% 5% 50%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 45%),
        #cfd8dc; 
    width: 80px;
    height: 80px;
    margin-right: -20px;
    z-index: 1;
}

.partial-sun-cloud-2 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 45%),
        #cfd8dc; 
    width: 120px;
    height: 120px;
    margin-right: -30px;
    z-index: 2;
}

.partial-sun-cloud-3 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 45%),
        #cfd8dc; 
    width: 150px;
    height: 150px;
    margin-right: -30px;
    z-index: 3;
}

.partial-sun-cloud-4 {
    border-radius: 50% 50% 50% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 45%),
        #cfd8dc; 
    width: 100px;
    height: 100px;
    z-index: 4;
}


/* =========== RAIN CLOUD =========== */

.rain-cloud-container {
    display: flex;
    align-items: flex-end; /* bottom alignment of cloud parts */
}

.rain-cloud-1 {
    border-radius: 50% 50% 5% 50%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 80px;
    height: 80px;
    margin-right: -20px;
}

.rain-cloud-2 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 120px;
    height: 120px;
    margin-right: -30px;
}

.rain-cloud-3 {
    border-radius: 50% 50% 5% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 150px;
    height: 150px;
    margin-right: -30px;
}

.rain-cloud-4 {
    border-radius: 50% 50% 50% 5%;
    background: 
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 20% 20%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 45%),
        #90A4AE;
    width: 100px;
    height: 100px;
}

.rain-drops-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: -10px;
}

.rain-drop {
    width: 30px;
    height: 50px;
     background: 
        radial-gradient(circle at 20% 40%, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 40%),
        linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.05)),
        #4FC3F7;
    clip-path: path("M10 30 C20 30, 20 15, 10 0 C0 15, 0 30, 10 30 Z");
    animation: fall 2.5s infinite linear; 
}

.rain-drop-1 { margin-top: 70px; animation-delay: 0s}
.rain-drop-2 { margin-top: 10px; animation-delay: 1.5s;}
.rain-drop-3 { margin-top: 40px; animation-delay: 0.5s;}
.rain-drop-4 { margin-top: 90px; animation-delay: 1s}
.rain-drop-5 { margin-top: 20px; animation-delay: 2.5s}
.rain-drop-6 { margin-top: 50px; animation-delay: 2s}

@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(70px);
    opacity: 1;
  }
  80% {
    transform: translateY(100px);
    opacity: 1;
  }
  90% {
    transform: translateY(150px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(200px);
    opacity: 0;
  }
}

/* =========== LIGHTBULB PLANT =========== */

/* Color Palette */
/* 
bulb - background: #ffe4ab
bulb - border: #fed17e
bulb - shine: #fff3d8
plant - stem: #5c8b23
plant - leaf: #7ea323
soil - light: #98552e
soil - dark: #683c20
thread - light: #f0a532
thread - dark: #e67521
shadow: #f08457
foot: #683c20
*/ 

.lightbulb-plant-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lightbulb-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(-50deg);
}

/* Bulb */
.lightbulb-bulb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bulb-circle {
    height: 250px;
    width: 250px;
    background-color: #ffe4ab;
    border-radius: 50%;
    border: 10px solid #fed17e;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb-shine {
    width: 75px;
    height: 75px;
    border: 20px solid #fff3d8;
    border-radius: 100px 0 0 0;
    border-bottom: none;
    border-right: none;
    position: absolute;
    top: 0px;
    left: 85px;
    transform: rotate(50deg);
}

.bulb-rectangle {
    width: 130px;
    height: 50px;
    background-color: #ffe4ab;
    border: 10px solid #fed17e;
    border-top: none;
    border-bottom: none;
    position: relative;
    margin-top: -28px;
    z-index: 2;
    overflow: hidden; 
}

/* Cap */
.cap-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thread1-top {
    width: 165px;
    height: 20px;
    background-color: #f0a532;
    border-radius: 8px;
    margin-top: -5px;
    z-index: 2;
}

.thread1-bottom {
    width: 150px;
    height: 20px;
    background-color: #e67521;
    margin-top: -5px;
    z-index: 1;
}

.thread2-top {
    width: 160px;
    height: 20px;
    background-color: #f0a532;
    border-radius: 8px;
    z-index: 2;
    margin-top: -3px;
}

.thread2-bottom {
    width: 145px;
    height: 20px;
    background-color: #e67521;
    z-index: 1;
    margin-top: -5px;
}

.thread3-top {
    width: 155px;
    height: 20px;
    background-color: #f0a532;
    border-radius: 8px;
    z-index: 2;
    margin-top: -3px;
}

.thread3-bottom {
    width: 140px;
    height: 20px;
    background-color: #e67521;
    z-index: 1;
    margin-top: -5px;
}

.thread4-top {
    width: 150px;
    height: 20px;
    background-color: #f0a532;
    border-radius: 8px;
    z-index: 2;
    margin-top: -3px;
}

.thread4-bottom {
    width: 135px;
    height: 20px;
    background-color: #e67521;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
    margin-top: -5px;
}

.lightbulb-foot {
    width: 90px;
    height: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #683c20;
}

/* Soil 1 - Bulb Circle*/
.soil1 {
    background-color: #683c20;
    width: 260px;
    height: 80px;
    transform: rotate(50deg);
    position: absolute;
    bottom: 10px;
    left: -70px;
    z-index: 3;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
}

.soil1-top1 {
    background-color: #98552e;
    width: 80px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    bottom: 67px;
    left: 0;
    transform: rotate(-10deg);
}

.soil1-top2 {
    background-color: #98552e;
    width: 60px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: -30px;
    left: 60px;
    transform: rotate(-5deg);
}

.soil1-top3 {
    background-color: #98552e;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: -35px;
    left: 105px;
}

.soil1-top4 {
    background-color: #98552e;
    width: 65px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: -30px;
    right: 60px;
    transform: rotate(5deg);
}

.soil1-top5 {
    background-color: #98552e;
    width: 70px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: -25px;
    right: 0px;
    transform: rotate(10deg);
}

.soil1-bottom1 {
    background-color: #98552e;
    width: 100px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    bottom: 55px;
    left: 0;
    transform: rotate(10deg);
}

.soil1-bottom2 {
    position: absolute;
    background-color: #98552e;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    top: 0;
    left: 90px;
}

.soil1-bottom3 {
    position: absolute;
    background-color: #98552e;
    width: 80px;
    height: 30px;
    border-radius: 50%;
    top: -7px;
    left: 140px;
    transform: rotate(-10deg);
}

.soil1-top-layer {
    background-color: #98552e;
    width: 280px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: -20px;
    left: 0;
}

.plant-base {
    width: 40px;
    height: 10px;
    background-color: #683c20;
    z-index: 5;
    position: absolute;
    top: -10px;
    left: 94px;
    border-radius: 50%;
}

/* Soil 2 - Bulb Rectangle*/
.soil2 {
    width: 130px;
    height: 100px;
    background-color: #683c20;
    transform: rotate(50deg);
    position: absolute;
    bottom: -37px;
    left: -20px;
    z-index: 3;
}

.soil2-top-layer {
    background-color: #98552e;
    width: 280px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: -140px;
}

.soil2-bottom1 {
    position: absolute;
    background-color: #98552e;
    width: 80px;
    height: 30px;
    border-radius: 50%;
    top: -7px;
    left: -15px;
}

.soil2-bottom2 {
    position: absolute;
    background-color: #98552e;
    width: 55px;
    height: 20px;
    border-radius: 50%;
    top: -4px;
    right: 15px;
    transform: rotate(-10deg);
}

.soil2-top1 {
    background-color: #98552e;
    width: 70px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    top: -24px;
    right: 10px;
    transform: rotate(10deg);
}

/* Soil Dots - General*/
.dot-light {
    background-color: #98552e;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
}

.dot-dark {
    background-color: #683c20;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    z-index: 6;
}

/* Soil 1 - Bulb Circle */
.dot-dark.dot3 { top: -10px; right: -70px; }
.dot-dark.dot4 { top: 20px; right: -50px;}
.dot-dark.dot5 { top: 0; right: -25px;}
.dot-dark.dot6 { top: 15px; right: 0px;}
.dot-dark.dot7 { top: 25px; right: 40px;}
.dot-dark.dot8 { top: 0; right: 60px;}
.dot-dark.dot9 { top: 20px; right: 80px;}
.dot-dark.dot10 { top: 5px; right: 110px;}

.dot-light.dot4 { top: 45px; right: -5px;}
.dot-light.dot5 { top: 35px; right: 30px;}
.dot-light.dot6 { top: 50px; right: 60px;}
.dot-light.dot7 { top: 35px; right: 90px;}

/* Soil 2 - Bulb Rectangle */
.dot-dark.dot1 { top: 10px; right: 15px; }
.dot-dark.dot2 { top: 25px; right: 40px; }

.dot-light.dot1 { bottom: -10px; right: -20px;}
.dot-light.dot2 { bottom: -15px; right: 20px;}
.dot-light.dot3 { bottom: -45px; right: 20px;}

/* Shadow */
.lightbulb-shadow {
    width: 450px;
    height: 60px;
    border-radius: 50%;
    background-color: #f08457;
    z-index: -1;
    position: absolute;
    transform: rotate(50deg);
    left: -230px;
    bottom: 120px;
}

/* Sprout */ 

.lightbulb-sprout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 150px;
    transform: rotate(50deg) scale(0.9);
    margin-top: -20px;
    margin-right: -20px;
    z-index: 10;
}

/* Branches */

.sprout-branch-left {
    position: relative;
}

.sprout-branch-middle {
    position: relative;
}

.sprout-branch-right {
    position: relative;
}

.branch-left {
    height: 40px;
    width: 5px;
    border-radius: 50% 50% 0 0;
    background-color: #5c8b23;
    z-index: 8;
    transform: rotate(-40deg) translateY(-30px) translateX(15px);
    position: relative;
}

.branch-middle {
    height: 90px;
    width: 8px;
    background-color: #5c8b23;
    z-index: 8;
    border-radius: 50% 50% 0 0;
    position: relative;
}

.branch-right {
    height: 40px;
    width: 5px;
    border-radius: 50% 50% 0 0;
    background-color: #5c8b23;
    z-index: 8;
    transform: rotate(40deg) translateY(-18px) translateX(-5px);
    position: relative;
    margin-top: -40px;
}

/* Leaves */ 
.leaf-left {
    background-color: #7ea323;
    height: 40px;
    width: 40px;
    border-radius: 0 30px;
    position: absolute;
    top: -50px;
    left: -40px;
    z-index: 7;
}

.leaf-middle {
    background-color: #7ea323;
    height: 45px;
    width: 45px;
    border-radius: 0 35px;
    position: absolute;
    top: -30px;
    left: -17px;
    z-index: 7;
    transform: rotate(45deg);
}

.leaf-right {
    background-color: #7ea323;
    height: 40px;
    width: 40px;
    border-radius: 30px 0;
    position: absolute;
    top: -75px;
    left: 7px;
    z-index: 7;
}
